/*Fonts and Base Colour*/
h1, h2, h3, h4, h5, p ,th, td {
  font-family: 'Quicksand', sans-serif;
}

hr, table, tbody, thead, tr, th, td {
    border-color: #0dacc8;
}

hr.short {
  width:50%;
}

.title{
  font-weight: bold;
  text-align: center;
  color: #0dacc8;
  margin: 0px;
  margin-bottom: 10px;
}

/*basic styles*/
.center-this {
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: auto;
}

.basic-border {
  border-color: #0dacc8;
}
/*END basic styles*/

/*Header Styling*/
header {
    display: block;
    position: sticky;
    background-color: #0dacc8;
    padding: 5px 10px;
}

header h1 {
    color:white;
    font-weight: bold;
}
/*END Header Styling*/


/*Map Styling*/
.map-area{
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border:1px solid #0dacc8;
}

.map-key {
  margin: 25px 0px;
}

#map-options {
  position: relative;
  height: auto;
  width: 60%;
  margin: 0 auto;
  padding: 0px;
}
/*END Map Styling*/

/*Chart Styling*/
/*END Chart Styling*/

.message-success {
  background-color: #2f9d6d;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 5px 0px;
  padding: 5px;
}

.message-warning {
  background-color: orange;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 5px 0px;
  padding: 5px;
}